@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">あけましておめでとうございます</h1>
    <p>郵便はがきの下部番号を入力して、おみくじを引こう！</p>
</div>

<form method="post" action="">
    <div class="mb-3">
        <label for="inputPassword6" class="col-form-label">当選番号</label>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <select class="form-select" id="exampleInputEmail1" aria-label="Default select example"
                    asp-for="@Model.Group">
                    <option selected disabled>組</option>
                    <option value="210">B0210組</option>
                    <option value="238">B0238組</option>
                    <option value="900">B0900組</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control" id="exampleFormControlInput1" min="100000" max="999999"
                    asp-for="@Model.Number">
            </div>
        </div>
        <div class="form-text">
            年賀はがきの下部に書かれている組と6桁の番号を入力してください。
        </div>
    </div>
    <button type="submit" class="btn btn-primary">くじを引く</button>
    <button type="reset" class="btn btn-secondary">リセット</button>
</form>
@if (Model.Error != null)
{
    <hr />
    <div class="alert alert-danger" role="alert">
    @Model.Error
</div>
}
@if (Model.WasPosted && Model.PostCard != null && Model.Lot != null)
{
    <hr />
    <h2>あなたのハガキ</h2>
    <div class="container">
    <h3>@Model.PostCard.Name 様</h3>
    <p>B0 @Model.PostCard.Group 組 / @Model.PostCard.Number 番</p>
    <hr />
    <p>@Model.PostCard.Message</p>
    <h4>おみくじ結果</h4>
    <p>@Model.Lot.Message</p>
    @if (Model.Lot.GiftUrl != null)
        {
            <a href="@Model.Lot.GiftUrl">おめでとう！あたり！ここをクリックしてね！</a>
        }
        else
        {
            <p>ざんねん！来年もよろしくね！</p>
        }
    </div>
}
<br />
<p>2025年もよろしくお願いします。by <a href="https://taiseiue.jp/">taiseiue </a></p>
