@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <p class="display-3">🐍</p>
    <h1 class="display-5">あけましておめでとうございます</h1>
    <p>郵便はがきの下に書いてある抽せん番号を入力して、おみくじを引こう！</p>
    <br />
    <div class="m-5">
        <form method="post" action="">
            <div class="input-group mb-3">
                <span class="input-group-text nenga-form-control">🎍</span>
                <select class="form-select nenga-form-control" asp-for="@Model.Group">
                    <option selected disabled>B0000組</option>
                    <option value="210">B0210組</option>
                    <option value="238">B0238組</option>
                    <option value="900">B0900組</option>
                </select>
                <span class="input-group-text btn-danger">令和7年 お年玉</span>
                <input type="number" class="form-control nenga-form-control" min="100000" max="999999"
                    placeholder="000000" asp-for="@Model.Number">
                <span class="input-group-text nenga-form-control">🌅</span>
            </div>
            <button type="submit" class="btn btn-primary">おみくじを引く</button>
        </form>
    </div>
</div>

@if (Model.Error != null)
{
    <hr />
    <div class="alert alert-danger" role="alert">
    @Model.Error
</div>
}
@if (Model.WasPosted && Model.PostCard != null && Model.Lot != null)
{
    <hr />
    <h3>おみくじ結果</h3>
    <br />
    <div class="container">
    <div class="card text-center">
        <div class="card-header">
            @Model.PostCard.Name 様
        </div>
        <div class="card-body">
            <h3>@Model.Lot.Message</h3>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>@Model.PostCard.Message</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    令和7年 元旦
                </figcaption>
            </figure>
            @if (Model.Lot.GiftUrl != null)
                {
                    <a href="@Model.Lot.GiftUrl">おみくじの景品はこちら</a>
                }
            </div>
            <div class="card-footer text-body-secondary">
                B @Model.PostCard.Group.ToString("D4") 組 / @Model.PostCard.Number 番 /
                @Model.PostCard.Id.ToString("D2")@Model.Lot.Id.ToString("D2")
            </div>
        </div>
    </div>

}
<br />
<p>2025年もよろしくお願いします。by <a href="https://taiseiue.jp/">taiseiue </a></p>
